.profile-menu {
    overflow: hidden;
    top: 30px;
    left: 0;
    width: 100%;
}

.profile-menu a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.profile-menu a:hover {
    color: olivedrab;
}

.my-table {
    width: 20%;
}

.tabs {
    width: 100%;
    padding: 0;
    margin: 0 auto; }

.tabs>input { display:none; }
.tabs>div { display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    border-radius: 5px;
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    font-weight:bold;
    border-right: 2px solid #C0C0C0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}


#txt_2 a,
#txt_3 a {
    font-size: 16px;
    color: #4CAF50;
}

#txt_2 a:hover,
#txt_3 a:hover {
    color: #286330;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 { display: block; }

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show history';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Hide history';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

