.profile-menu {
    overflow: hidden;
    top: 30px;
    left: 0;
    width: 100%;
}

.profile-menu a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.profile-menu a:hover {
    color: olivedrab;
}

.tabs {
    width: 100%;
    padding: 0;
    margin: 0 auto; }

.tabs>input { display:none; }
.tabs>div { display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#txt_2 a {
    color: #4CAF50;
}
#txt_2 a:hover {
    color: #388E3C;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3 { display: block; }

