/* The navigation bar */
.topMenuNav {
    overflow: hidden;
    background-color: #388E3C;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 1;
}

/* Links inside the navbar */
.topMenuNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.topMenuNav a:hover {
    text-decoration: none;
    background: #C8E6C9;
    color: black;
}

/* Main content */
.main {
     margin-top: 50px; /* Add a top margin to avoid content overlay */
 }

#link {
    color: #4CAF50;
}

#link a:hover{
    color: #286330;
}

.languagepicker {
    background-color: #FFF;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    margin: 5px 5px 5px 0;
    float: right;
    width: 92px;
}


.languagepicker option:hover{
    background-color: #EEE;
}


