.transaction-form {
    position: relative;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.transaction-form label {
    color: #2b542c;
    font-weight:100;
}

.transaction-form h4 {
    font-family: "Calibri Light", serif;
    font-size: 22px;
    text-align: center;
}

.transaction-form h5 {
    border: dotted #2b542c;
    padding: 5px;
    margin-bottom: 0;
}

.transaction-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight:100;
}

.transaction-form #input-amount {
    width: 120px;
}

.transaction-form button {
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    font-weight:100;
}
.transaction-form button:hover,.form button:active,.form button:focus {
    background: #43A047;
    color: #FFFFFF;
    font-weight:100;
}

.transaction-form .errorMsg {
    margin: 0 0 15px;
    color: red;
    height:15px;
}

.container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
#selectCL{
    padding-bottom: 20px;
}