<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  <servlet-name>ErrorMessage</servlet-name>
  <jsp-file>/views/errorMessage.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
  <servlet-name>ErrorMessage</servlet-name>
  <url-pattern>/errorMessage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SuccessMessage</servlet-name>
    <jsp-file>/views/successMessage.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>SuccessMessage</servlet-name>
    <url-pattern>/successMessage</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/profile</url-pattern>
    <url-pattern>/createCreditAccount</url-pattern>
    <url-pattern>/createDepositAccount</url-pattern>
    <url-pattern>/adminPanel</url-pattern>
    <url-pattern>/creditAccountManagement</url-pattern>
    <url-pattern>/userInfo</url-pattern>
    <url-pattern>/transferMoney</url-pattern>
    <url-pattern>/payBill</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/adminPanel</url-pattern>
    <url-pattern>/creditAccountManagement</url-pattern>
    <url-pattern>/userInfo</url-pattern>
  </filter-mapping>

</web-app>
